@model List<SYS_PAGEEntity>
@{
    var listItem = Model;
    var page = ViewData["Page"] as SYS_PAGEEntity;
    if (page == null || listItem.IsEmpty()) return;
    string Title = ViewData["Title"] as string;
}
<section class="dok-brands mb-4">
    <div class="container">
        <div>
            <div class="dok-heading">
                <h2>@(!string.IsNullOrEmpty(Title) ? Title : page.Name)</h2>
            </div>
            <div class="dok-brand-list swiper">
                <div class="swiper-wrapper">
                    @for (int i = 0; listItem != null && i < listItem.Count; i += 2)
                    {
                        <div class="swiper-slide">
                            <div class="category-wrap-item">
                                <a class="category-item" href="@Html.GetUrl(listItem[i].Code)" title="@listItem[i].Name">
                                    <img src="@await ImageHelper.ResizeToWebpAsync(listItem[i].File)"
                                         height="50" alt="@listItem[i].Name" loading="lazy" class="filter-brand__img">
                                </a>
                                @if (listItem.Count > i + 1)
                                {
                                    <a class="category-item" href="@Html.GetUrl(listItem[i+1].Code)" title="@listItem[i+1].Name">
                                        <img src="@await ImageHelper.ResizeToWebpAsync(listItem[i+1].File)"
                                             height="50" alt="@listItem[i+1].Name" loading="lazy" class="filter-brand__img">
                                    </a>
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="swiper-pagination position-static"></div>
            </div>
        </div>
    </div>
</section>
