@model List<ModNewsModel>
@{
    string Title = ViewData["Title"] as string;
    var page = ViewData["Page"] as SYS_PAGEEntity;
    var listItem = Model;
    if (listItem.IsEmpty()) return;
}

<hr class="mobile-line" />

<div class="dok-widget dok-widget-hot-news">
    <h4 class="fw-bold fz-18 mb-3">@Title</h4>
    <div class="dok-news">
        <div class="d-flex flex-column">
            @for (var i = 0; listItem != null && i < listItem.Count; i++)
            {
                string url = Html.GetUrl(listItem[i].Code);

                <div class="item news-item-small">
                    <div class="img">
                        <a href="@url" title="@listItem[i].Name">
                            <img class="img-fluid"
                                 src="@await ImageHelper.ResizeToWebpAsync(listItem[i].File)"
                                 alt="@listItem[i].Name">
                        </a>
                    </div>
                    <div class="wrapper">
                        <div class="name">
                            <a href="@url" title="@listItem[i].Name">@listItem[i].Name</a>
                        </div>
                        <div class="meta">
                            @if (listItem[i].AuthorID > 0)
                            {
                                <a href="@Html.GetUrl("author/"+listItem[i].AuthorCode)">
                                    <i class="fa fa-user me-2"></i>@(listItem[i].AuthorName)
                                </a>
                                <span class="mx-3">|</span>
                            }
                            <span>
                                <i class="fa fa-calendar-alt me-2"></i>@Utils.FormatDate(listItem[i].Published)
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
