@{
    var cart = new Cart();
    string searchUrl = Html.Url("MSearch");
    string cartUrl = Html.Url("MViewCart");
}

<div class="dok-header-search d-lg-block d-none">
    <form method="post" id="formSearch" name="formSearch" onsubmit="doSearch('@searchUrl', $('#keyword')); return false;">
        <input type="search" name="keyword" id="keyword" placeholder="Bạn cần tìm gì hôm nay?" autocomplete="off">
        <button type="button" onclick="doSearch('@searchUrl', $('#keyword')); return false;"><i class="far fa-magnifying-glass"></i></button>
    </form>
</div>

<ul class="dok-list-action list-unstyled d-flex align-items-center justify-content-end">
    <vsw-rs key="HotlineHeader" />
    <li class="dok-cart droplist mx-0">
        <a href="@cartUrl" class="d-flex align-items-center">
            <div class="position-relative">
                <span class="dok-icon mr-0 fal fa-cart-shopping">
                    <span class="dok-count cart_count">@(cart.Items.Count)</span>
                </span>
            </div>
        </a>
        <div class="droplist-box d-lg-block d-none">
            <span class="dok-arrow"></span>
            <ul class="dok-cart-list custom-scrollbar list-unstyled">
                <vsw-product-by-id list-id="@(cart.Items.Select(o=> o.ProductID).ToList())" layout="CartHeader" />
            </ul>
            <div class="dok-cart-footer">
                <span class="fw-medium"><span class="cart_count">@(cart.Items.Count)</span> sản phẩm</span>
                <a href="@cartUrl" class="dok-cart-buy">Xem giỏ hàng</a>
            </div>
        </div>
    </li>
    <li class="d-lg-none d-block">
        <a class="dok-header-item-mobile dok-category-toggle" href="javascript:void(0)"
           data-bs-toggle="modal" data-bs-target="#dok-menu-mobile">
            <i class="far fa-bars-staggered"></i>
        </a>
    </li>
</ul>